<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= favicon_link_tag '/logo_icono.ico' %>
    <title>Altmov</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
     
  
    <h1 id="titulo">AltMov</h1>
    <h2 id="titulo2">Transporte Alternativo</h2>
</head>
<body class="cuerpoFondo">
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="cuerpo">
    <div>
    <input class="boton" type="button" value="Ciclorutas" name="ciclorutas">
    </div>
    <div>
    <input class="boton" type="button" value="Alquier Bicis" name="alquiler">
    </div>
    <div>
    <input class="boton" type="button" value="Taller Bicis" name="taller">
    </div>
    <div>
    <input class="boton" type="button" value="Parqueaderos" name="parqueaderos">
    </div>
    <div>
    <input class="boton" type="button" value="Contactenos" name="contactenos">
    </div>
    </div>

<div style="flex-grow: 20" id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 4.631141, lng: -74.152050},
          zoom: 12.5
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1eQ4toggJkAAdwYc4VVvQt9YO5oBlYGQ&callback=initMap"
    async defer></script>
    
</body>
</html>
