<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Altmov</title>
    <link rel="shortcut icon" href="logo.png" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
     
  
    <h1 id="titulo">AltMov</h1>
    <h2 id="titulo2">Transporte Alternativo</h2>
</head>
<body class="cuerpo">
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>
    <input class="boton" type="button" value="Ciclorutas" name="ciclorutas">
    </div>
    <div>
    <input class="boton" type="button" value="Alquier Bicis" name="alquiler">
    </div>
    <div>
    <input class="boton" type="button" value="Taller Bicis" name="taller">
    </div>
    <div>
    <input class="boton" type="button" value="Parqueaderos" name="parqueaderos">
    </div>
    <div>
    <input class="boton" type="button" value="Contactenos" name="contactenos">
    </div>
    
</body>
</html>