/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 html,body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
 #map {
    height: 60%;
    width: 70%;
    position: absolute;
    right: 0;
    bottom: 5%;
 }
 .cuerpo{
    display: flex;
    flex-direction: column;
    
    
    
    
}
.cuerpoFondo{
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.cuerpo> div{
    background-color: darkblue;
    width: fit-content;

}
.boton{
    width:400px;
    height: 50px;  
    margin: 5px; 
    font-size: 40px;
    
}
#titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color:  rgb(14, 138, 45);
    /* width: fit-content; */
    color: white;
    font-size: 80px;
    margin-bottom: 1px;

     

    
}
#titulo2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    background-color:  rgb(14, 138, 45);
    padding:0;
    
}